# Database Configuration
# format: postgresql://user:pass@host:port/dbname
DATABASE_URL=postgresql://user:password@localhost:5433/pilotgenai_dev_pg

# Portkey LLM Gateway Configuration
PORTKEY_API_KEY=your_api_key_here
PORTKEY_BASE_URL=https://ai-gateway.apps.cloud.rt.nyu.edu/v1
